Source: suspicious
Section: perl
Priority: optional
Maintainer: Freddy Frouin <freddy@linuxtribe.fr>
XSBC-Original-Maintainer: Freddy Frouin <freddy@linuxtribe.fr>
Build-Depends: debhelper (>= 8.0.0), wget, git
Standards-Version: 3.9.4
Homepage: https://github.com/ffrouin/suspicious
#Vcs-Git: git://git.debian.org/collab-maint/suspicious.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/suspicious.git;a=summary

Package: suspicious
Architecture: any
Depends: apache2, perl5, fail2ban, geoip-bin, wget, unzip, ${shlibs:Depends}
Description: Track IT Threats on an interactive Earth Map
  Statistic reports include countries, services, targets
  Threat reports include target, source, geolocalize (country, region, city), service, timelog
  Map included features are drag, zoom, select country, select it threat, drag it threat, disperse it threats (double click)
  Timeline reports enable move backward and forward in time threat database. Selecting a report before going into timeline mode results into report survey over timeline.
